HELP.md
.DS_Store

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Helm
**/tmpcharts/
*.tgz

# Generated local schema copies
core/artifactory-jcr/values.schema.json
core/artifactory-oss/values.schema.json
